@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topico.css");
@import url("styles/email.css");
@import url("styles/footer.css");

:root{
    --cor--fundotela--:#EBECEE;
    --cor--subprincipal--: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor--subsubprincipal--:#002F52;
    

    --cor--navbar--:#FFFFFF;
    --cor--texto--:#ffffff;
    --cor--subtitulos--:#EB9B00;
    --cor--rodape--subtitulos--:#858585;
    --cor--rodape--texto--:#474646;
    --cor--link--nav--:#000000;

    --font--titulo--: 'Josefin Sans', sans-serif;
    --font--subtitulos--: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--cor--fundotela--);
}


